body {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    background-color: cornflowerblue;
}


#home {
    font-size: xx-large;
    color:darkblue ;
}

h1 {
    text-align: center;
}
